services:

  broker-session03:
    build:
      context: .
      dockerfile: broker/Dockerfile
    image: broker:latest
    container_name: broker-session03
    environment:
      SERVICE: broker-session03
      BROKER_BIND_HOST: 0.0.0.0
      PUB_PORT: 5555
      SUB_PORT: 5556
      METRICS_PORT: 9102
    ports:
      - "5555:5555"
      - "5556:5556"
      - "9102:9102"

  capturer-session03:
    build:
      context: .
      dockerfile: capturer/Dockerfile
    image: capturer:latest
    container_name: capturer-session03
    environment:
      SERVICE: capturer-session03
      BROKER_HOST: broker-session03
      PUB_PORT: 5555
      TOPIC: raw
      VIDEO_PATH: /data/input.mp4
      PUBLISH_EVERY_SEC: 0.1
      JPEG_QUALITY: 80
      LOOP: "true"
      FALLBACK_FPS: 25
      METRICS_PORT: 9101
      PAYLOAD_KEY: RmTnzrS0_DwulCzF6tj8qSOQpCmnOkRmKeezZcZA4T4=
    volumes:
      - ./data:/data:ro
    depends_on:
      - broker-session03
    ports:
      - "9101:9101"

  transformer-session03:
    build:
      context: .
      dockerfile: transformer/Dockerfile
    image: transformer:latest
    container_name: transformer-session03
    environment:
      SERVICE: transformer-session03
      BROKER_HOST: broker-session03
      SUB_PORT: 5556
      PUB_PORT: 5555
      SUB_TOPIC: raw
      PUB_TOPIC: processed
      JPEG_QUALITY_OUT: 85
      METRICS_PORT: 9103
      PAYLOAD_KEY: RmTnzrS0_DwulCzF6tj8qSOQpCmnOkRmKeezZcZA4T4=
    depends_on:
      - broker-session03
    ports:
      - "9103:9103"


  web_server-session03:
    build:
      context: .
      dockerfile: web_server/Dockerfile
    image: web_server:latest
    container_name: web_server-session03
    environment:
      SERVICE: web_server-session03
      BROKER_HOST: broker-session03
      SUB_PORT: 5556
      SUB_TOPIC: processed
      HTTP_HOST: 0.0.0.0
      HTTP_PORT: 8000
      HTTP_THREADS: 8
      METRICS_PORT: 9104
      PAYLOAD_KEY: RmTnzrS0_DwulCzF6tj8qSOQpCmnOkRmKeezZcZA4T4=
    depends_on:
      - broker-session03
      - transformer-session03
    ports:
      - "8000:8000"
      - "9104:9104"
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--log.level=warn"
    ports:
      - "9090:9090"
    depends_on:
      - broker-session03
      - capturer-session03
      - transformer-session03
      - web_server-session03

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_LOG_LEVEL=error
    ports:
      - "3000:3000"
    depends_on:
      - prometheus


