<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <stringAttribute key="implementation_name" value="Sequential"/>
    <listAttribute key="models">
        <listEntry value="aliases=In&#10;cached=false&#10;concurrent=false&#10;expand=true&#10;fileBasedMetamodelUri=&#10;isMetamodelFileBased=false&#10;metamodelFile=&#10;metamodelUri=mediaflow&#10;modelFile=/m2m/input/flow2.xmi&#10;modelUri=platform\:/resource/m2m/input/flow2.xmi&#10;name=In&#10;readOnLoad=true&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;storeOnDisposal=false&#10;type=EMF&#10;validate=false"/>
        <listEntry value="aliases=Out&#10;cached=false&#10;concurrent=false&#10;expand=true&#10;fileBasedMetamodelUri=&#10;isMetamodelFileBased=false&#10;metamodelFile=&#10;metamodelUri=http\://www.eclipse.org/uml2/5.0.0/UML&#10;modelFile=/m2m/output/activity2etl.uml&#10;modelUri=platform\:/resource/m2m/output/activity2etl.uml&#10;name=Out&#10;readOnLoad=false&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;storeOnDisposal=true&#10;type=EMF&#10;validate=false"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="parameters"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/m2m/transformer/mediaflow2activity.etl"/>
</launchConfiguration>
