services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  api:
    build:
      context: ../app/services/api
    environment:
      APP_ENV: dev
      REDIS_URL: redis://redis:6379/0
      MP3_BUCKET: tts-dev
      PUBLIC_BASE_URL: ""
      INTERNAL_TOKEN: changeme
    depends_on:
      - redis
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8000/healthz"]
      interval: 10s
      timeout: 3s
      retries: 10

  web:
    build:
      context: ../app/services/web
    environment:
      APP_ENV: dev
      S3_ENDPOINT: http://minio:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_REGION: us-east-1
      MP3_BUCKET: tts-dev
    depends_on:
      - minio
    ports:
      - "8080:8000"

  gateway:
    image: nginx:1.27-alpine
    depends_on:
      - api
      - web
    ports:
      - "8088:80"
    volumes:
      - ../app/gateway/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  worker:
    build:
      context: ../app/services/worker

    # Uncomment if model NOT baked into image
    # volumes:
    #   - ../app/models:/models:ro

    environment:
      APP_ENV: dev
      REDIS_URL: redis://redis:6379/0
      QUEUE_KEY: jobs:queue:dev
      API_BASE_URL: http://api:8000
      INTERNAL_TOKEN: changeme

      S3_ENDPOINT: http://minio:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_REGION: us-east-1
      MP3_BUCKET: tts-dev

      PIPER_MODEL_PATH: /models/en_GB-alan-medium.onnx
      PIPER_MODEL_CONFIG_PATH: /models/en_GB-alan-medium.onnx.json
      PIPER_LENGTH_SCALE: "1.0"

    depends_on:
      - redis
      - minio
      - api

volumes:
  minio_data:
