apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: worker
  namespace: tts
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: worker

  minReplicas: 1
  maxReplicas: 5

  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
        - type: Percent
          value: 70
          periodSeconds: 5
        - type: Pods
          value: 2
          periodSeconds: 5
      selectPolicy: Max

    scaleDown:
      stabilizationWindowSeconds: 5
      policies:
        - type: Percent
          value: 20
          periodSeconds: 5
        - type: Pods
          value: 1
          periodSeconds: 5
      selectPolicy: Max